<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.backtoschool.testself"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="แบบทดสอบค้นหาตัวเอง"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.backtoschool.testself.MainActivity"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenu"
            android:theme="@style/splashScreenTheme"/>

        <activity android:name=".PersonalActivity"
            android:theme="@style/splashScreenTheme"/>

        <activity android:name=".ResultActivity"
            android:theme="@style/splashScreenTheme"/>

        <activity android:name=".TestMenuActivity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Art1Test1Activity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".ScienceTestActivity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Sci1Test1Activity"
            android:theme="@style/splashScreenTheme" />
        <activity android:name=".Sci1Test2Activity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Sci1Test3Activity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Sci1Test4Activity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Sci1Test5Activity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Sci1Test6Activity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Sci1Test7Activity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Sci1Test8Activity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Sci1Test9Activity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Sci1Test10Activity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Sci2Test1Activity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Sci2Test5Activity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Sci2Test6Activity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Sci2Test7Activity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Sci2Test8Activity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Sci2Test2Activity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Sci2Test3Activity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Sci2Test4Activity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Art1Test2Activity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Art1Test3Activity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Art1Test4Activity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Art1Test5Activity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Art2Test1Activity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Art2Test2Activity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Art2Test3Activity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Art2Test4Activity"
        android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Art2Test5Activity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Art2Test6Activity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Art2Test7Activity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Art2Test8Activity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Art2Test9Activity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Art2Test10Activity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Art2Test11Activity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".Art2Test12Activity"
            android:theme="@style/splashScreenTheme"/>

        <activity android:name="com.facebook.LoginActivity"></activity>
        <activity android:name=".TestIMEI" />
        <activity android:name=".LoginActivity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".PersonalDetailActivity"
            android:theme="@style/splashScreenTheme"/>
        <activity android:name=".SciHeartArtActivity" />

        <meta-data android:value="@string/app_id"
            android:name="com.facebook.sdk.ApplicationId"/>

    </application>

</manifest>
